.main {
  flex: 30%;
  padding: 20px;
}
.side {
  flex: 70%;
  padding: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  padding: 20px;
  text-align: center;
}
.topnav {
  padding: 20px;
  text-align: center;
  width: 100%;
}
