@using Microsoft.AspNetCore.Identity
@using MakeFriends.Models.Users
@inject SignInManager<User> _signInManager


<div class="right-align">
  @if (_signInManager.IsSignedIn(User))
  {
    <form method="post" asp-controller="AccountManager" asp-action="Logout">
      <input class="enter_submit" type="submit" value="Выход"/>
    </form>
  }
</div>