<div class="right-align">
  <form asp-area="" asp-controller="AccountManager" asp-action="UserList" method="get">
    <i class="fa fa-search"></i>
    <input class="form-control" type="text" placeholder="Поиск" name="search">
    <button class="enter_submit" type="submit">Search</button>
  </form>
</div>