<div class="slider-container">
    <div class="slide">
        <!--            <div class="numbertext">1 / 6</div>-->
        <img src="/Static/IMG/london.jpg"  alt="london">
    </div>

    <div class="slide">
        <img src="/Static/IMG/ny.jpg"  alt="ny">
    </div>

    <div class="slide">
        <img src="/Static/IMG/spb.jpg"  alt="spb">
    </div>



    <a class="flipper prev" >❮</a>
    <a class="flipper next" >❯</a>

    <div class="caption-container">
        <p id="caption"></p>
    </div>

    <div class="slider-row">
        <div class="slider-column">
            <img class="img-dimmed cursor" src="/Static/IMG/london.jpg"   alt="London">
        </div>
        <div class="slider-column">
            <img class="img-dimmed cursor" src="/Static/IMG/ny.jpg"   alt="New York">
        </div>

        <div class="slider-column">
            <img class="img-dimmed cursor" src="/Static/IMG/spb.jpg"  alt="Saint Petersburg">
        </div>

    </div>
</div>