$colorDark = #212121
$colorSoft = #d0d1d2
$colorLight = #fafafa
$colorDimmed = #afafaf
$colorAccent = #2143fabe

body
  padding 0
  margin 0

body, .video-container
  background-color $colorLight

header, footer
  background $colorAccent
  padding 1rem 2rem
  box-shadow linen 1px 1px 1px

/* Простые селекторы */
.wrapper
  display grid
  grid-template-columns auto 1fr
  grid-template-rows 0.5fr 4fr 0.5fr
  gap 1em 0
  grid-template-areas 'a b' 'a c' 'a d'

.sidebar
  grid-area a
  z-index 1 /* Сайд-бар будет поверх остальных элементов */
  background-color $colorDark /* Черный цвет фона (задан в виде кода) */
  font-size large
  position relative

.navbar
  color $colorDimmed
  padding 1rem
  margin 0 auto
  position sticky
  top 1rem

a
  text-decoration none

/* Стили панели навигации */
.navbar p
  color $colorDimmed

/* Стили панели навигации при наведении мышью */
.navbar p:hover
  color $colorLight

/* Глобальные стили для хедеров на всём сайте */
header
  color black

/* Стиль хедера для главной страницы имеет приоритет,
так как используется селектор по идентификатору */
.header
  color $colorLight
  grid-area b

.form__input_search
  padding 0.5rem 1rem

.form__input_search:focus
  box-shadow $colorLight 0 0 0.2rem

.form__button_search
  padding 0.5rem 1rem
  font-size 1rem
  font-weight 500
  color $colorAccent
  border-radius 0.25rem
  background darken($colorLight, 1)

  &:hover
    background lighten($colorLight, 80)
    text-shadow $colorAccent 0.025rem 0.025rem 0.025rem

.main
  grid-area c
  padding 0 2rem

.review-container, .reviews, .review-button
  display inline-block
  margin-top 0.5em
  padding-left 1%
  padding-top 1%

.review-text 
  display block
  margin-top 0.5em
  padding-left 1%
  padding-top 1%


.video-container
  display inline-block
  padding 1rem
  width 560px
  height 315px

iframe
  width 100%
  height 100%

.footer
  grid-area d
  font-size medium
  color $colorLight
  line-height 66%

  a
    color $colorSoft

    &:hover
      color $colorLight

@media screen and (max-width 800px)
  .video-container
    width 56vw
    height 31vw
